body{
    background-color: #2d2d2d;
    color: #e6e6e6;
    font-weight: bold;
    font-family:  Courier, monospace;
    font-size: 250%;
}

div::first-letter {
    font-size: 200%;
    color: magenta;
  }